extends ./layout/aside.pug
block content
  .container.overflow-auto.mx-0.vh-100.scrollbarCustom
    if (page)
      h1.mt-3.task-title #{page}
    else 
      h1.mt-3.task-title All        
    if (message)
      p.text-succes.fw-bold.fs-3 #{message}
    table.table
      thead
        tr
          th 
          th Task
          th 
          //- th 
      tbody.table-body
        each task in tasks
          tr.row-table-task
            td
              .mb-3.form-check
                label.form-check-label(for=`${task.id}`)
                input.form-check-input.task-check(id=`${task.id}` type='checkbox' class=`check-complete` checked=task.status)
            td
              small #{task.description}
            td
              if (task.idList === 1)
                a.link-container.list-icon.list-icon-color-magenta(href='/task/personal')
              else if (task.idList === 2)
                a.link-container.list-icon.list-icon-color-blue(href='/task/work')
              else if (task.idList === 3)
                a.link-container.list-icon.list-icon-color-yellow(href='/task/services')
            //- td
            //-   button.btn.btn-link.toggle-button.button
            //-     i.fa.fa-chevron-right        
  script(type="module" src="/task.js")        
  